#include "lism.dtsi"

&transform_42keymap {
    col-offset = <0>;
};

&transform_40keymap {
    col-offset = <0>;
};

&encoder {
    status = "okay";
};

&spi0 {
    status = "disabled";
};

&trackball_split {
    status = "disabled";
};

&peripheral_listener {
    status = "disabled";
};

&sensors {
    sensors = <&encoder>;
    triggers-per-rotation = <12>;
};
